* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../images/the-world-is-running-out-of-sand-amp-no-it-rsquo-s-not-a-joke3-1529400769.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
  width: 100%;
}

.nav-bar {
  background-color: black;
  font-size: 1.5vmin;
  display: flex;
  height: 3vmin;
  gap: 2vmin;
  position: relative;
}

.fas {
  position: absolute;
  right: -79vw;
}
nav ul {
  align-items: center;
  display: flex;
  gap: 2vmin;
  list-style: none;
  position: relative;
}
a {
  color: white;
  text-decoration: none;
}

.drop-down-list {
  display: none;
}

#parant-drop {
  position: relative;
}

#parant-drop:hover #child-drop {
  background-color: black;
  display: flex;
  flex-direction: column;
  top: 1vmin;
  position: relative;
  width: fit-content;
}

.logo {
  align-items: center;
  background-color: #009688;
  display: flex;
  gap: 2vmin;
  padding: 0 1vmin;
}
.btn {
  background-color: black;
  bottom: 1vmin;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-size: 2vmin;
  left: 2vmin;
  padding: 2vmin;
  position: absolute;
  width: auto;
  transition: 0.4s ease-in;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  color: rgb(255, 255, 255);
  transition: 0.4s ease-in;
}
.titel_of_section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vmin;
}

.titel_of_section span {
  font-size: 2vmin;
  font-weight: 400;
}

.team-details {
  display: grid;
  gap: 20vmin;
  grid-template-columns: repeat(auto-fill, minmax(26vmin, 1fr));
  margin-top: 5vmin;
}

.team-details div {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  transition: 0.5s ease;
}
.team-details div :hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease;
}
.team-details h2 {
  align-items: center;
  display: flex;
  font-size: 3vmin;
  flex-direction: column;
}

.team-details h2 span {
  font-size: 2vmin;
  font-weight: 400;
}
.team-details div img {
  border-radius: 50%;
  height: 20vmin;
  width: 20vmin;
}

.our-work {
  background-color: rgb(70, 70, 70);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50vmin, 1fr));
  height: auto;
  margin-top: 10vmin;
  padding: 4vmin 0;
  position: relative;
}

.our-work p {
  font-size: 2vmin;
}

.our-work .titel {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  top: 4vmin;
  position: relative;
}

h2 {
  font-size: 3vmin;
}

h3 {
  font-size: 4vmin;
}

h4 {
  font-size: 2.5vmin;
}

h6 {
  font-size: 2vmin;
}

.our-work .sections_work {
  border-radius: 2vmin;
  background-color: white;
  width: 48vmin;
  height: 62vmin;
  transition: 0.5s ease;
}

#ice-view:hover {
  /* background: rgb(207, 207, 207);
  background: linear-gradient(
    90deg,
    rgba(207, 207, 207, 1) 47%,
    rgba(255, 255, 255, 1) 100%
  ); */
  /* color: white; */
  border-radius: 4vmin;
  box-shadow: -4px 0 15px 3px whitesmoke;
  transform: scale(1.1);
  transition: 0.5s ease;
}
#fiction-view:hover {
  /* background: rgb(144, 240, 184);
  background: linear-gradient(
    90deg,
    rgba(144, 240, 184, 1) 54%,
    rgba(255, 255, 255, 1) 100%
  ); */
  border-radius: 4vmin;
  box-shadow: -4px 0 15px 3px #246777;
  color: rgb(62, 61, 61);
  transform: scale(1.1);
  transition: 0.5s ease;
}
#rever-view:hover {
  /* background: rgb(189, 170, 170);
  background: linear-gradient(
    90deg,
    rgba(189, 170, 170, 1) 44%,
    rgba(248, 246, 246, 1) 81%
  ); */
  border-radius: 4vmin;
  box-shadow: -4px 0 15px 3px rgb(189, 170, 170);
  color: rgb(62, 61, 61);
  transform: scale(1.1);
  transition: 0.5s ease;
}
.our-work .sections_work img {
  border-radius: 1vmin;
  width: 48vmin;
}
.our-work .sections_work h3,
h4,
h6 {
  padding: 1vmin;
}

.fa-plus {
  background-color: #009688;
  border-radius: 50%;
  bottom: -3vmin;
  cursor: pointer;
  right: 4vmin;
  transition: 0.5s ease;
  position: absolute;
  padding: 2vmin;
}

.fa-plus:hover {
  background-color: #246777;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.contact-us {
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-wrap: wrap;
  gap: 40vmin;
  padding: 4vmin;
}

.text-contact {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

#address {
  font-size: 2vmin;
  font-weight: 500;
}

.text-contact span {
  font-size: 1.5vmin;
}

.contact-link {
  color: black;
  font-size: 3vmin;
  text-decoration: underline rgb(14, 191, 14) 4px;
}
hr {
  border: none;
  border-top: 1px solid rgb(162, 162, 162);
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5vmin;
  padding: 2vmin;
  width: 90vmin;
}

form label {
  font-size: 2vmin;
}
form #in {
  border: none;
  border-bottom: 1px solid gray;
  width: 80vmin;
  height: 4vmin;
}

form #ch {
  width: 3vmin;
  accent-color: black;
}

form .button {
  background-color: black;
  border-radius: 0.5vmin;
  color: white;
  display: inline-block;
  font-size: 2vmin;
  transition: 0.4s ease-out;
  padding: 0.7vmin;
  width: auto;
  height: auto;
}

form .button:hover {
  background-color: white;
  color: black;
  transition: 0.4s ease-out;
}

.like {
  display: flex;
  justify-content: space-between;
}

.footer {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  height: 15vh;
  justify-content: center;
  position: relative;
  width: 100%;
}

.footer span {
  color: white;
  font-size: 3vmin;
}
.icons {
  display: flex;
  gap: 1vmin;
}
.icons i {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
}
.icons i:hover {
  border-radius: 50%;
  color: rgb(204, 204, 204);
  transform: scale(1.1);
  transition: 0.5s ease;
}
@media only screen and (max-width: 900px) {
  .contact-us {
    gap: 5vmin;
  }
  .our-work {
    grid-template-columns: 1fr;
    gap: 6vmin;
    justify-items: center;
  }
  .fa-plus {
    bottom: -4vmin;
  }
}

@media only screen and (max-width: 500px) {
  header {
    height: 30vh;
  }
  .fa-plus {
    bottom: -4vmin;
  }
}
